.AcademyPage {
  nav {
    background-color: $darkGrey;
    color: $cream;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    border-bottom: thick solid lighten($darkGrey, 10%);

    a {
      color: $cream;
    }

    ul {
      display: flex;
      border-left: thin solid lighten($darkGrey, 10%);
      margin: 0;
    }

    li {
      text-align: center;
      border-right: thin solid lighten($darkGrey, 10%);
      flex-basis: 12rem;
      display: flex;

      a {
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-basis: 12rem;

        &:hover {
          background-color: lighten($darkGrey, 20%);
        }

        &.active {
          background-color: lighten($darkGrey, 10%);
        }
      }
    }

    figure {
      margin: 0;
      margin-bottom: 0.5rem;
      font-size: 1.5rem;
      height: 2rem;
      line-height: 2rem;
    }
  }

  .curriculum-info {
    th,
    td {
      vertical-align: top;
      padding: 0.5rem;
    }
    th {
      text-align: right;
    }

    ul {
      margin: 0;
    }
  }

  .daily-schedule {
    width: 100%;
    background-color: transparentize($cream, 0.5);
    border-collapse: collapse;
    td,
    th {
      border: thin solid darken($cream, 20%);
      padding: 0.5rem;
    }
  }
}
