.AcademyPage {
  > nav {
    background-color: $darkGrey;

    a {
      color: $cream;
    }

    ul {
      color: $cream;
      font-size: 0.9rem;
      display: flex;
      justify-content: center;
      border-bottom: thick solid lighten($darkGrey, 10%);
      flex-wrap: wrap;
      border-left: thin solid lighten($darkGrey, 10%);
      margin: 0 auto;
      max-width: $desktop-width;
    }

    li {
      list-style: none;
      text-align: center;
      border-right: thin solid lighten($darkGrey, 10%);
      flex-basis: 12rem;
      flex: 1;
      display: flex;

      a {
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-basis: 12rem;

        &:hover {
          background-color: lighten($darkGrey, 20%);
        }

        &.active {
          background-color: lighten($darkGrey, 10%);
        }
      }
    }

    figure {
      margin: 0;
      margin-bottom: 0.5rem;
      font-size: 1.5rem;
      height: 2rem;
      line-height: 2rem;
    }

    .note {
      background-color: $brightGreen;
      text-align: center;
      font-weight: 600;
      font-size: 0.8rem;
      padding: 0.5rem;
      border-bottom: thick solid $green;
    }
  }

  .curriculum-info {
    th,
    td {
      vertical-align: top;
      padding: 0.5rem;
    }
    th {
      text-align: right;
    }

    ul {
      margin: 0;
    }
  }

  .daily-schedule {
    width: 100%;
    background-color: transparentize($cream, 0.5);
    border-collapse: collapse;
    td,
    th {
      border: thin solid darken($cream, 20%);
      padding: 0.5rem;
    }
  }

  &.Success {
    .bios {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-evenly;
    }

    .card {
      background-color: transparentize(lighten($cream, 60%), 0.6);
      padding: 1rem;
      border-bottom: thick solid #5a9090;
      flex: 1;
      flex-basis: 24rem;
      max-width: 24rem;
      margin: 1rem;

      img {
        width: 100%;
        height: auto;
      }
    }

    h4 {
      font-size: 1.3rem;
      line-height: 1rem;
      margin: 0.5rem 0 0 0;
    }

    h6 {
      font-size: 0.8rem;
      font-style: italic;
      line-height: 1rem;
      margin: 0;
      font-weight: 300;
    }

    p {
      line-height: 1.4rem;
    }

    .read-more {
      display: none;
    }

    input {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }

    @media screen and (max-width: 48rem) {
      .card {
        flex-basis: 18rem;
        max-width: 18rem;
        p {
          font-size: 0.9rem;
          line-height: 1.2rem;
        }
      }
    }

    @media screen and (max-width: 30rem) {
      .card {
        max-width: 42rem;
        p {
          font-size: 0.9rem;
          line-height: 1.2rem;
        }
      }
    }

    /* Accordion styles */

    .read-more {
      display: block;
      color: $purple;
    }

    .tab {
      position: relative;
      margin-bottom: 1px;
      overflow: hidden;
    }

    .tab-content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.35s;
    }
    /* :checked */
    input:checked ~ .tab-content {
      max-height: 700px;
    }

    .cta {
      text-align: center;
      margin-top: 30px;
      a {
        text-decoration: none;
        background-color: $purple;
        color: lighten($cream, 25%);
        border: 0.2rem solid $purple;
        border-radius: 0.2rem;
        transition: all 200ms ease;
        text-transform: uppercase;
        padding: 5px 10px;

        &:hover {
          background-color: darken($brightPurple, 5%);
          color: $cream;
        }
      }
    }
  }

  &.Tuition {
    .financeOption {
      font-size: 0.9rem;
      border-bottom: thin solid darken($cream, 25%);
      ul {
        list-style: disc;
        margin-left: 1rem;
      }
      .action {
        padding: 1rem;
        text-align: center;
      }
    }

    .scholarship-logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .diversity,
    .fullstack,
    .hanekedesign {
      background-color: transparentize(lighten($cream, 30%), 0.3);
      padding: 1rem;
      border-bottom: thick solid #5a9090;
      margin: 1rem;
    }
  }

  &.Catalog {
    section > p {
      margin-bottom: 1rem;
    }

    .Capture {
      display: block;
    }

    p.download {
      text-align: center;
      margin: 2rem auto;
    }
  }
}
