.AcademyPage {
  nav {
    background-color: $darkGrey;
    color: $cream;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    border-bottom: thick solid lighten($darkGrey, 10%);

    a {
      color: $cream;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      border-left: thin solid lighten($darkGrey, 10%);
      margin: 0;
    }

    li {
      text-align: center;
      border-right: thin solid lighten($darkGrey, 10%);
      flex-basis: 12rem;
      flex: 1;
      display: flex;

      a {
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-basis: 12rem;

        &:hover {
          background-color: lighten($darkGrey, 20%);
        }

        &.active {
          background-color: lighten($darkGrey, 10%);
        }
      }
    }

    figure {
      margin: 0;
      margin-bottom: 0.5rem;
      font-size: 1.5rem;
      height: 2rem;
      line-height: 2rem;
    }
  }

  .curriculum-info {
    th,
    td {
      vertical-align: top;
      padding: 0.5rem;
    }
    th {
      text-align: right;
    }

    ul {
      margin: 0;
    }
  }

  .daily-schedule {
    width: 100%;
    background-color: transparentize($cream, 0.5);
    border-collapse: collapse;
    td,
    th {
      border: thin solid darken($cream, 20%);
      padding: 0.5rem;
    }
  }

  &.Success {
    .quote-wrap {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 48rem) {
        flex-direction: column;
      }
    }
    .quote-box {
      width: 30%;
      @media (max-width: 48rem) {
        width: 100%;
      }
    }
    .quote-box,
    .quote-box-full {
      .author {
        text-align: right;
        font-weight: 800;
      }
    }
    .cta {
      text-align: center;
      margin-top: 30px;
      a {
        text-decoration: none;
        background-color: $purple;
        color: lighten($cream, 25%);
        border: 0.2rem solid $purple;
        border-radius: 0.2rem;
        transition: all 200ms ease;
        text-transform: uppercase;
        padding: 5px 10px;

        &:hover {
          background-color: darken($brightPurple, 5%);
          color: $cream;
        }
      }
    }
  }
}
