.BlogPage {
  figure.featured {
    margin: 0;
  }

  &.Post {
    h1 {
      line-height: 1em;
      text-align: center;
    }
    .meta {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0.2rem 0;
      font-size: 0.8rem;
    }
    .icon {
      margin-right: 0.2rem;
      font-size: 0.6rem;
      vertical-align: middle;
    }
  }

  .social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 15px 0;
  }

  .social-links > div {
    margin: 5px 15px;
  }
}
