.BlogPage {
  figure.featured {
    margin: 0;
  }

  &.Post {
    h1 {
      line-height: 1em;
      text-align: center;
    }
    .meta {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0.2rem 0;
      font-size: 0.8rem;
    }
    .icon {
      margin-right: 0.2rem;
      font-size: 0.6rem;
      vertical-align: middle;
    }

    article {
      margin-top: 1rem;
    }
  }

  .social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 15px 0;
  }

  .social-links > div {
    margin: 5px 15px;
  }

  &.Index {
    .preview {
      display: flex;
      margin-bottom: 1rem;

      figure {
        width: 320px;
        margin-right: 1rem;
        border: 0.5rem solid white;
        box-shadow: 0 0 0.2rem transparentize($darkGrey, 0.5);
      }

      h3 {
        margin: 0;
        font-size: 2rem;
        line-height: 1.2rem;
      }

      time {
        font-size: 0.8rem;
        font-weight: 100;
        text-transform: uppercase;
      }

      article {
        p {
          font-size: 1.1rem;
          line-height: 1.2rem;
        }
      }

      @media screen and (max-width: 46rem) {
        flex-direction: column;
        align-items: stretch;
        border-bottom: thin solid darken($cream, 20%);

        h3 {
          margin-top: 0.5rem;
        }

        figure {
          width: 100%;
        }
      }
    }
  }
}
