.CommunityPage {
  nav {
    background-color: $darkGrey;

    a {
      color: $cream;
    }

    ul {
      color: $cream;
      font-size: 0.9rem;
      display: flex;
      justify-content: center;
      border-bottom: thick solid lighten($darkGrey, 10%);
      flex-wrap: wrap;
      margin: 0 auto;
      max-width: $desktop-width;
    }

    li {
      text-align: center;
      border-right: thin solid lighten($darkGrey, 10%);
      border-left: thin solid lighten($darkGrey, 10%);
      flex-basis: 12rem;
      display: flex;

      a {
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-basis: 12rem;

        &:hover {
          background-color: lighten($darkGrey, 20%);
        }

        &.active {
          background-color: lighten($darkGrey, 10%);
        }
      }
    }

    @media (max-width: 480px) {
      li {
        flex-basis: 9rem;
      }
    }

    @media (max-width: 310px) {
      li {
        flex-basis: 7rem;
      }
    }

    figure {
      margin: 0;
      margin-bottom: 0.5rem;
      font-size: 1.5rem;
      height: 2rem;
      line-height: 2rem;
    }

    .note {
      background-color: $brightGreen;
      text-align: center;
      font-weight: 600;
      font-size: 0.8rem;
      padding: 0.5rem;
      border-bottom: thick solid $green;
    }
  }
  &.Network {
    .blockquote {
      background-color: #f2e8c5;
      color: rgba(51, 51, 51, 0.8);
      box-shadow: 0.2rem 0.2rem 0 rgba(51, 51, 51, 0.3);
      padding: 1em;
      font-size: 1.25em;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      p.author {
        align-self: flex-end;
      }

      @media (max-width: 48rem) {
        font-size: 1em;
      }
    }
    .companies {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      li {
        margin: 1rem;
        width: 100%;
        max-width: 200px;
        background-color: #f2e8c5;
        color: rgba(51, 51, 51, 0.8);
        box-shadow: 0.2rem 0.2rem 0 rgba(51, 51, 51, 0.3);
        padding: 1em;
        .logo {
          padding-top: 1em;
          padding-bottom: 1em;
        }
        .logo-half {
          padding-top: 0.5em;
          padding-bottom: 0.5em;
        }
        &.padWhite {
          padding: 0.5rem;
          border-radius: 0.5rem;
          background-color: white;
        }

        &.netsvs {
          max-width: 120px;
        }
      }

      @media (max-width: 48rem) {
        flex-direction: column;
      }
    }

    .why {
      margin-left: 1rem;
      list-style: disc;
    }
  }
  &.HireAlumni {
  }

  section.organizations ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0;
    margin-left: -1.5rem;
    margin-top: -0.5rem;
  }

  section.organizations ul li {
    list-style: none;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
  }

  li.org {
    background-color: darken($cream, 5%);
    color: rgba(51, 51, 51, 0.8);
    box-shadow: 0.2rem 0.2rem 0 rgba(51, 51, 51, 0.3);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-height: 6rem;
    flex: 1 0 22rem;

    a {
      color: rgba(51, 51, 51, 0.8);
      text-shadow: 1px 1px 0 rgba(51, 51, 51, 0.2);
      text-decoration: underline;
    }

    img {
      margin: 8px;
      margin: 0.5rem;
      max-width: 80px;
      max-height: 80px;
      align-self: center;
    }

    .info {
      display: flex;
      flex-direction: column;

      h3 {
        margin: 0.5rem 0;
        font-size: 1.5rem;
      }

      p {
        margin: 0;
        font-size: 1.2rem;
      }
    }
  }

  @media (min-width: 24rem) {
    li.org {
      max-width: calc(100% - 1.5rem);
    }
  }

  @media (min-width: 48rem) {
    li.org {
      max-width: calc(50% - 1.5rem);
    }
  }
}
