.JuniorPage {
    margin: 1rem;
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .intro {
            margin: 1em;
            p {
                max-width: 500px;
            }
        }
        .column {
            margin: 0.55rem;
            max-width: 300px;
        }
    }
    .overview {
        align-items: center;
        // img {
        //     margin-top: 1em;
        // }
    }
    @media screen and (max-width: 647px) {
        .column {
            margin: 1rem;
            max-width: 90%;
            min-width: 160px;
        }
    }
}
// 674