.JuniorPage {
    margin: 1rem;
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 1.5rem;

        .logo {
            margin: 0.75rem;
        }
        .intro {
            max-width: 400px;
        }
        
        .class {
            max-width: 300px;
            // margin: 0.55rem;
        }
    }
    //     .intro {
    //         margin: 1em;
    //         p {
    //             max-width: 500px;
    //         }
    //     }
        // .column {
        //     margin: 0.55rem;
        //     // max-width: 300px;
        // }
    // .overview {
    //     align-items: center;
    //     justify-content: center;

    //     .imgColumn {
    //         justify-content: center;
    //         max-width: 400px;
    //         margin: 1rem;

    //         .classImages {
    //             max-width: 350px;
    //             height: auto;
    //         }
    //         .caption {
    //             font-size: 14px;
    //             max-width: 300px;
    //             text-align: center;
    //             margin: 1rem;
    //         }
    //     }
    // }
    // @media screen and (max-width: 647px) {
    //     .column {
    //         margin: 1rem;
    //         max-width: 90%;
    //         min-width: 160px;
    //     }
    // }
}
// 674