.TeamPage {
  .member {
    border-bottom: thin solid darken($cream, 20%);
    padding: 1rem 0;

    h3 {
      text-align: center;
      margin-bottom: 0.5rem;
    }

    div {
      display: flex;
      align-items: flex-start;
    }

    img {
      margin-top: 0.5rem;
      margin-right: 1rem;
      min-width: 160px;
    }

    p {
      margin-top: 0;
    }
  }

  @media screen and (max-width: 46rem) {
    .member > div {
      flex-direction: column;
      align-items: center;

      img {
        margin: 1rem;
      }
    }
  }
}
