.TeamPage {
  .team-bios {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.card-deck {
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  width: 100%;
  & .card {
    margin-bottom: 15px;
  }
  .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(255, 255, 255, .6);
    background-clip: border-box;
    width: 50%;
    margin-right: 15px;
    border-bottom: 10px solid #5a9090;

    &:last-of-type {
      margin-right: 0;
    }

    img.card-img-top {
      padding: 20px;
    }
  }
}

.card-body {
  padding: 20px;
  line-height: 1.3em;

  .card-title {
    font-size: 1.3em;
    margin: 0;
  }

  .card-subtitle {
    font-size: 1.1em;
    margin: 0;
    font-weight: 300;
  }
}

@media screen and (max-width: 1000px) {
  .card-deck {
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;

    .card {
      width: 60%;
      margin-right: 0;
    }

    img.card-img-top {
      width: calc(95% - 20px);
      height: auto;
    }
  }
}
