[submodule "data/handbook"]
	path = src/pages/handbook
	url = https://github.com/suncoast-devs/handbook.git
[submodule "src/code-of-conduct"]
	path = src/code-of-conduct
	url = https://github.com/suncoast-devs/code-of-conduct.git
