.field .control {
  .radio,
  .checkbox {
    > input {
      margin-right: 0.25rem;
    }
  }

  .help:first-child {
    margin: -0.75rem 0 0.5rem;
  }
}

input[name='contactMeOnlyByCarrierPigeon'] {
  display: none !important;
}
