// Overriding a style from bulma
.content {
  li + li {
    margin-top: 0;
  }
}

.handbook {
  .cp_embed_wrapper {
    min-width: 50%;
  }

  iframe {
    height: unset;
    min-height: 500px;
    padding: 0 1.5rem;
  }

  h3 {
    border-top: 8px solid $sea;
    padding-top: 0.5rem;
    margin: 4.5rem auto 1.5rem auto;
  }

  h4 {
    border-top: 4px solid $sea;
    padding-top: 0.5rem;
    margin: 4.5rem auto 1.5rem auto;
  }

  ul.handbook-nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    background-color: $sand;
  }

  .handbook-nav-links a {
    padding: 0.4rem;
  }

  .handbook-nav-links i {
    min-width: 16px;
    text-align: center;
  }

  .content {
    table {
      tr {
        td:first-child {
          white-space: nowrap;
        }
      }
    }
  }
}
