.academy-community-duo {
  @include from($tablet) {
    background-color: $white;
    background-image: linear-gradient(
      98deg,
      $white 0%,
      $white 50%,
      $white-ter 50%,
      $white-ter 100%
    );
  }

  .community {
    @include until($tablet) {
      background-color: $white-ter;
    }
  }

  .title a {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .academy .title a {
    background-image: linear-gradient(42deg, $sea, $lime);
  }

  .community .title a {
    background-image: linear-gradient(42deg, $sun, $tangerine);
  }
}

.mission-statement {
  .title {
    background-image: linear-gradient(8deg, $night-sky, $bright-sky);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .column.mission {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.footer {
  .h-adr + .tel {
    margin-top: 1rem;
    font-weight: bold;
  }
}
