.tour-carousel {
  overflow: hidden;
  height: 0;
  padding-top: 50%;
  position: relative;
  z-index: 0;

  .tour-carousel-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
