.Capture {
  display: flex;
  padding: 1rem;
  max-width: $desktop-width;
  margin: auto;
  margin-top: 2rem;

  input[type='tel'] {
    max-width: 12rem;
  }

  h2,
  p {
    margin: 0;
  }

  p.action {
    margin-top: 1rem;
    button {
      font-weight: 700;
    }
  }

  p.note {
    font-weight: 400;
    font-size: 0.8rem;
  }

  section.Mail {
    flex: 1.5;
    margin-right: 2rem;

    h2 {
      color: $green;
    }
  }

  section.Tour {
    flex: 1;

    h2 {
      color: $purple;
    }
  }

  fieldset {
    .group {
      display: flex;

      p + p {
        margin-left: 1rem;
      }

      p {
        flex: 1;
      }
    }
  }
}
