.wrap {
  padding: 1rem;
  max-width: $desktop-width;
  margin: auto;
}

.form-embed {
  height: 100%;

  > div {
    height: 100%;
    > .wrap {
      height: 100%;
      padding: 0;
      max-width: none;
    }
  }

  iframe {
    width: 100%;
    border: none;
    height: 100%;
  }
}

p.note {
  font-size: 0.9rem;
  font-weight: 700;
  opacity: 0.8;
}
