.wrap {
  padding: 1rem;
  max-width: $desktop-width;
  margin: auto;
}

.form-embed {
  height: 100%;

  > div {
    height: 100%;
    > .wrap {
      height: 100%;
      padding: 0;
      max-width: none;
    }
  }

  iframe {
    width: 100%;
    border: none;
    height: 100%;
  }
}

a,
button {
  &.cta-button {
    text-decoration: none;
    background-color: $purple;
    color: lighten($cream, 25%);
    border: 0.2rem solid $purple;
    padding: 0.3rem;
    border-radius: 0.2rem;
    transition: all 200ms ease;
    text-transform: uppercase;

    &:hover {
      background-color: darken($brightPurple, 5%);
      color: $cream;
    }

    .icon {
      margin-right: 0.3rem;
    }
  }
}

p.note {
  font-size: 0.9rem;
  font-weight: 700;
  opacity: 0.8;
}

.read-more {
  display: block;
  color: $purple;
}
