form {
  display: flex;
  justify-content: center;
  flex-direction: column;

  fieldset {
    border: none;
    padding: 0;

    label {
      display: block;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.8rem;
      color: lighten($darkGrey, 20%);
    }
  }

  input,
  textarea,
  button[type='submit'] {
    border: thin solid darken($cream, 20%);
    border-radius: 0.2rem;
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0.5rem;
  }

  input[type='text'],
  input[type='email'],
  input[type='tel'],
  textarea {
    width: 100%;
    box-sizing: border-box;
  }

  .actions {
    display: flex;
    justify-content: space-between;

    button[type='submit'] {
      border-color: $seaGreen;
      background-color: $blue;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      text-shadow: 1px 1px 0 $darkGrey;
    }
  }

  button:disabled {
    opacity: 0.5;
  }

  @media screen and (max-width: 46rem) {
    flex-direction: column;
  }
}
