html,
body,
#___gatsby {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14pt;
  background-color: $cream;
  color: $darkGrey;
  background-image: url(../images/stamp.svg);
  background-position: right -25vw bottom -5vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 90vw;
}

a {
  &:link,
  &:visited {
    color: $seaGreen;
    font-weight: 600;
    text-decoration: none;
  }

  transition: all 200ms ease;

  &:hover {
    color: lighten($seaGreen, 10%);
  }
}

ul {
  padding-left: 0;
  list-style: none;
}

h2 {
  font-size: 2rem;
  font-weight: 700;

  @media screen and (max-width: 48rem) {
    text-align: center;
  }
}
