.Header {
  text-transform: uppercase;
  font-weight: bold;
  background-color: $blue;
  color: $cream;
  text-shadow: 1px 1px 0 transparentize(darken($cream, 80%), 0.5);
  border-bottom: 4px solid $seaGreen;

  .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
  }

  nav {
    flex: 1;
  }

  a {
    color: inherit;

    &.active {
      border-bottom: thick solid $seaGreen;
    }
  }

  h1 {
    margin: 0;
  }

  li {
    margin-left: 1rem;
  }

  ul {
    display: flex;
  }

  .cta {
    text-decoration: none;
    background-color: $purple;
    color: lighten($cream, 25%);
    border: 0.2rem solid $purple;
    padding: 0.3rem;
    border-radius: 0.2rem;
    transition: all 200ms ease;

    &:hover {
      background-color: darken($brightPurple, 5%);
      color: $cream;
    }
  }

  .wrap > {
    nav,
    ul {
      @media screen and (max-width: 46rem) {
        display: none;
      }
    }
  }
}

.bm-burger-button {
  width: 36px;
  height: 30px;
  position: relative;
  margin-right: 1rem;
  @media screen and (min-width: 46rem) {
    display: none;
  }
}

.bm-burger-bars {
  background: $cream;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: $cream;
}

.bm-menu-wrap {
  top: 0;
}

.bm-menu {
  background: $blue;
  padding: 2rem 1rem 0;
  font-size: 1.2rem;
}

.bm-morph-shape {
  fill: $blue;
}

.bm-item-list {
  color: $cream;
  padding: 0.5rem;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
}

.Footer {
  padding: 2rem 1rem 1rem;

  hr {
    height: 4rem;
    background-image: url(../images/birds.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    margin-bottom: 2rem;
  }

  section {
    display: flex;
    max-width: $desktop-width;
    margin: auto;
    justify-content: space-between;
    align-items: flex-end;

    @media screen and (max-width: 57rem) {
      flex-direction: column;
      align-items: center;
      text-align: center;

      .ident p {
        max-width: none;
      }

      .ident,
      .locate,
      .site {
      }
    }
  }

  .ident {
    flex: 5;
    p {
      max-width: 24rem;
    }
  }

  .locate {
    flex: 2;
    margin: 0 1rem;
    padding: 0 1rem;

    h3 {
      margin-top: 0;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1rem;
    }
  }

  .site {
    flex: 2;
  }

  .social {
    font-size: 1.5rem;
    display: flex;
    margin-top: 0;

    li:not(:first-child) {
      margin-left: 1rem;
    }

    a {
      &:link,
      &:visited {
        color: $purple;
      }

      &:hover {
        color: lighten($purple, 10%);
      }
    }
  }

  .copyright,
  .love {
    text-align: center;
  }

  .copyright {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0;
    color: $purple;

    a {
      color: inherit;
      font-size: 1rem;
    }
  }

  .love {
    font-size: 0.8rem;
    line-height: 1rem;

    svg {
      font-size: 0.7rem;
      color: $red;
    }
  }
}
