@import '~systematize';
@import '~@fortawesome/fontawesome-svg-core/styles';

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

$blue: #76bcbb;
$brightBlue: #80ced2;
$brightGreen: #b1d133;
$brightOrange: #f99d1b;
$brightPurple: #c5a7b4;
$brightYellow: #fff100;
$cream: #f7f0da;
$darkGrey: #2f3737;
$green: #a1bb3a;
$orange: #dd8c22;
$purple: #85577e;
$red: #d5562b;
$seaGreen: #5a9090;
$yellow: #e4d31c;

$desktop-width: 65rem;

@import './global';
@import './layout';
@import './common';
@import './content';
@import './forms';
@import './tabs';
@import './pages/academy';
@import './pages/apply';
@import './pages/blog';
@import './pages/community';
@import './pages/conduct';
@import './pages/contact';
@import './pages/diversity';
@import './pages/faq';
@import './pages/handbook';
@import './pages/sponsor';
@import './pages/index';
@import './pages/jr';
@import './pages/network';
@import './pages/team';
@import './pages/thanks';
